Alentejo_SLA/Service References/AlentejoJobService/AlentejoJobService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rm.seqmt.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://rm.seqmt.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rm.seqmt.com/">
      <s:element name="MX_SubmitJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MJ" type="tns:cSMT_ATJ_RenderJob_Maxwell" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cSMT_ATJ_RenderJob_Maxwell">
        <s:complexContent mixed="false">
          <s:extension base="tns:cSMT_ATJ_RenderJob_Base">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MaxDuration" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SampleCount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SampleCount_PerNode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ActiveCamera" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CameraNames" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AnimationFrames" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateMultilight" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RenderTextures" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_Render" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_Shadow" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_Alpha" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_Alpha_Opaque" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_MaterialId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_ObjectId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_ZBuffer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_ZBuffer_min" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Channels_ZBuffer_max" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Vignetting" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ScatteringLens" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UsePreviewEngine" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MultilightId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="cSMT_ATJ_RenderJob_Base" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SCHEMA_VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobFileNames" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="JobFileGuids" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FinalImageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Submitted_Ticks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartedRendering_Ticks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Completed_Ticks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoresRequested" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterInstanceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RenderNodeInstanceIds" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxCost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailSamples" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Height" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutputImageFormat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TerminateFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Charges" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:eSMT_ATJ_RenderJob_Status" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eSMT_ATJ_RenderJob_Status">
        <s:restriction base="s:string">
          <s:enumeration value="Failure_RenderJobFinalization" />
          <s:enumeration value="Failure_RunMXCL" />
          <s:enumeration value="Failure_RenderNodeCoordination" />
          <s:enumeration value="Failure_FileTransferFromS3" />
          <s:enumeration value="Failure_FileTransferToS3" />
          <s:enumeration value="Failure_Generic" />
          <s:enumeration value="JOB_FAILED" />
          <s:enumeration value="NOT_INDICATED" />
          <s:enumeration value="PREPROCESSING" />
          <s:enumeration value="Preprocessing_HaveJobFiles_WaitingForProfile" />
          <s:enumeration value="Preprocessing_WaitingForJobFileTransferToS3" />
          <s:enumeration value="Preprocessing_TransferringJobFilesToS3" />
          <s:enumeration value="Preprocessing_WaitingForInstanceStartLogic" />
          <s:enumeration value="Preprocessing_InInstanceStartLogic" />
          <s:enumeration value="Preprocessing_WaitingForMasterRenderInstanceToComeOnline" />
          <s:enumeration value="Preprocessing_RetrievingJobFiles" />
          <s:enumeration value="Preprocessing_CheckingForRenderNodes" />
          <s:enumeration value="Preprocessing_WaitingForRenderNodesToComeOnline" />
          <s:enumeration value="Preprocessing_FinalJobPrepPreRendering" />
          <s:enumeration value="RENDERING" />
          <s:enumeration value="POSTPROCESSING" />
          <s:enumeration value="Postprocessing_InitialActivities" />
          <s:enumeration value="Postprocessing_TransferringRenderFilesToS3" />
          <s:enumeration value="COMPLETED" />
          <s:enumeration value="ARCHIVED" />
          <s:enumeration value="AWAITING_TERMINATION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="MX_SubmitJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MX_SubmitJobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryJobInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobInfoQuery" type="tns:cSMT_ATJ_JobInfoQuery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cSMT_ATJ_JobInfoQuery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DateRange" type="tns:eDateRange" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFilter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusFilter" type="tns:eStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eDateRange">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Past_7_Days" />
          <s:enumeration value="Past_30_Days" />
          <s:enumeration value="Past_90_Days" />
          <s:enumeration value="Past_365_Days" />
          <s:enumeration value="Last_Week" />
          <s:enumeration value="Last_Month" />
          <s:enumeration value="Last_Year" />
          <s:enumeration value="This_Week" />
          <s:enumeration value="This_Month" />
          <s:enumeration value="This_Year" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="eStatus">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Active" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Archived" />
        </s:restriction>
      </s:simpleType>
      <s:element name="QueryJobInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryJobInfoResult" type="tns:ArrayOfCSMT_ATJ_LiteJobInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCSMT_ATJ_LiteJobInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cSMT_ATJ_LiteJobInfo" nillable="true" type="tns:cSMT_ATJ_LiteJobInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cSMT_ATJ_LiteJobInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status_Public" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Submitted_Ticks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Completed_Ticks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Charged" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJobById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobByIdResult" type="tns:cSMT_ATJ_RenderJob_Base" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenLastImageGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestImageResult" type="tns:cSMT_ATJ_File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cSMT_ATJ_File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SCHEMA_VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SampleLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resolution" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsAvailable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:eAtjFileType" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="eAtjFileType">
        <s:restriction base="s:string">
          <s:enumeration value="NOT_SPECIFIED" />
          <s:enumeration value="Model" />
          <s:enumeration value="Texture" />
          <s:enumeration value="IntermediateOutputImage" />
          <s:enumeration value="FinalOutputImage" />
          <s:enumeration value="MXI" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetImageUrlForGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImageGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageUrlForGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageUrlForGuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFileInfoForJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFileInfoForJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageFileInfoForJobResult" type="tns:ArrayOfCSMT_ATJ_File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCSMT_ATJ_File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cSMT_ATJ_File" nillable="true" type="tns:cSMT_ATJ_File" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDeepZoopXMLPathForJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Latest" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ImageGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeepZoopXMLPathForJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeepZoopXMLPathForJobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgressData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenTimestampTicks" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgressDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgressDataResult" type="tns:ArrayOfCSMT_ATJ_JobProgressMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCSMT_ATJ_JobProgressMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cSMT_ATJ_JobProgressMessage" nillable="true" type="tns:cSMT_ATJ_JobProgressMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cSMT_ATJ_JobProgressMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RenderedImageGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SampleLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Benchmark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileListResult" type="tns:ArrayOfCSMT_ATJ_File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetJobStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminateJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminateJobResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MX_SubmitJobSoapIn">
    <wsdl:part name="parameters" element="tns:MX_SubmitJob" />
  </wsdl:message>
  <wsdl:message name="MX_SubmitJobSoapOut">
    <wsdl:part name="parameters" element="tns:MX_SubmitJobResponse" />
  </wsdl:message>
  <wsdl:message name="QueryJobInfoSoapIn">
    <wsdl:part name="parameters" element="tns:QueryJobInfo" />
  </wsdl:message>
  <wsdl:message name="QueryJobInfoSoapOut">
    <wsdl:part name="parameters" element="tns:QueryJobInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobById" />
  </wsdl:message>
  <wsdl:message name="GetJobByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestImage" />
  </wsdl:message>
  <wsdl:message name="GetLatestImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlForGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageUrlForGuid" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlForGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageUrlForGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageFileInfoForJobSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageFileInfoForJob" />
  </wsdl:message>
  <wsdl:message name="GetImageFileInfoForJobSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageFileInfoForJobResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeepZoopXMLPathForJobSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeepZoopXMLPathForJob" />
  </wsdl:message>
  <wsdl:message name="GetDeepZoopXMLPathForJobSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeepZoopXMLPathForJobResponse" />
  </wsdl:message>
  <wsdl:message name="GetProgressDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProgressData" />
  </wsdl:message>
  <wsdl:message name="GetProgressDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgressDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobStatus" />
  </wsdl:message>
  <wsdl:message name="GetJobStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TerminateJobSoapIn">
    <wsdl:part name="parameters" element="tns:TerminateJob" />
  </wsdl:message>
  <wsdl:message name="TerminateJobSoapOut">
    <wsdl:part name="parameters" element="tns:TerminateJobResponse" />
  </wsdl:message>
  <wsdl:portType name="AlentejoJobServiceSoap">
    <wsdl:operation name="MX_SubmitJob">
      <wsdl:input message="tns:MX_SubmitJobSoapIn" />
      <wsdl:output message="tns:MX_SubmitJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryJobInfo">
      <wsdl:input message="tns:QueryJobInfoSoapIn" />
      <wsdl:output message="tns:QueryJobInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobById">
      <wsdl:input message="tns:GetJobByIdSoapIn" />
      <wsdl:output message="tns:GetJobByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <wsdl:input message="tns:GetLatestImageSoapIn" />
      <wsdl:output message="tns:GetLatestImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageUrlForGuid">
      <wsdl:input message="tns:GetImageUrlForGuidSoapIn" />
      <wsdl:output message="tns:GetImageUrlForGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFileInfoForJob">
      <wsdl:input message="tns:GetImageFileInfoForJobSoapIn" />
      <wsdl:output message="tns:GetImageFileInfoForJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeepZoopXMLPathForJob">
      <wsdl:input message="tns:GetDeepZoopXMLPathForJobSoapIn" />
      <wsdl:output message="tns:GetDeepZoopXMLPathForJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgressData">
      <wsdl:input message="tns:GetProgressDataSoapIn" />
      <wsdl:output message="tns:GetProgressDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input message="tns:GetFileListSoapIn" />
      <wsdl:output message="tns:GetFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <wsdl:input message="tns:GetJobStatusSoapIn" />
      <wsdl:output message="tns:GetJobStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TerminateJob">
      <wsdl:input message="tns:TerminateJobSoapIn" />
      <wsdl:output message="tns:TerminateJobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlentejoJobServiceSoap" type="tns:AlentejoJobServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MX_SubmitJob">
      <soap:operation soapAction="http://rm.seqmt.com/MX_SubmitJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryJobInfo">
      <soap:operation soapAction="http://rm.seqmt.com/QueryJobInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobById">
      <soap:operation soapAction="http://rm.seqmt.com/GetJobById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <soap:operation soapAction="http://rm.seqmt.com/GetLatestImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageUrlForGuid">
      <soap:operation soapAction="http://rm.seqmt.com/GetImageUrlForGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFileInfoForJob">
      <soap:operation soapAction="http://rm.seqmt.com/GetImageFileInfoForJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeepZoopXMLPathForJob">
      <soap:operation soapAction="http://rm.seqmt.com/GetDeepZoopXMLPathForJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgressData">
      <soap:operation soapAction="http://rm.seqmt.com/GetProgressData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://rm.seqmt.com/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <soap:operation soapAction="http://rm.seqmt.com/GetJobStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateJob">
      <soap:operation soapAction="http://rm.seqmt.com/TerminateJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlentejoJobServiceSoap12" type="tns:AlentejoJobServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MX_SubmitJob">
      <soap12:operation soapAction="http://rm.seqmt.com/MX_SubmitJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryJobInfo">
      <soap12:operation soapAction="http://rm.seqmt.com/QueryJobInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobById">
      <soap12:operation soapAction="http://rm.seqmt.com/GetJobById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <soap12:operation soapAction="http://rm.seqmt.com/GetLatestImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageUrlForGuid">
      <soap12:operation soapAction="http://rm.seqmt.com/GetImageUrlForGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFileInfoForJob">
      <soap12:operation soapAction="http://rm.seqmt.com/GetImageFileInfoForJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeepZoopXMLPathForJob">
      <soap12:operation soapAction="http://rm.seqmt.com/GetDeepZoopXMLPathForJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgressData">
      <soap12:operation soapAction="http://rm.seqmt.com/GetProgressData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://rm.seqmt.com/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobStatus">
      <soap12:operation soapAction="http://rm.seqmt.com/GetJobStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminateJob">
      <soap12:operation soapAction="http://rm.seqmt.com/TerminateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlentejoJobService">
    <wsdl:port name="AlentejoJobServiceSoap" binding="tns:AlentejoJobServiceSoap">
      <soap:address location="http://localhost:49365/Services/AlentejoJobService.asmx" />
    </wsdl:port>
    <wsdl:port name="AlentejoJobServiceSoap12" binding="tns:AlentejoJobServiceSoap12">
      <soap12:address location="http://localhost:49365/Services/AlentejoJobService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>